#containerPokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;

}
.figurePokemon {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;

}

.image-pokemon {
    height: 140px;
    width: 150px;
    align-self: center;

}
